{% extends 'templates/app.twig' %}
{% block content %}
    <div class="tasks container">
        <h1>Tasks</h1>
        <table class = "table table-striped">
            <thead>
                <tr>
                    <th>Task ID</th>
                    <th>Assigned To</th>
                    <th>Task Title</th>
                    <th>Task Description</th>
                    <th>Task State</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
            {% if tasks %}
                 {% for task in tasks %}
                    <tr>
                        <td>{{ task.id }}</td>
                        {% for user in users %}
                            {% if task.user_id == user.id  %} 
                                <td>{{ user.name }}</td>
                            {% endif %}
                        {% endfor %}
                        <td>{{ task.task_title }}</td>
                        <td>{{ task.task_description }}</td>
                        <td>{{ task.task_status }}</td>
                        <td><a href="{{ path_for('task.details', {'taskID' : task.id}) }}" class="btn btn-info" role="button">Edit Task</a></td>
                    </tr>
                {% endfor %}
            {% endif %}
            </tbody>
        </table>
    </div>
    <div class="newtask container">
        <div class="panel-heading">
            <h3>New Task Form</h2>
        </div>
        <div class="panel-body">
            <form action="{{ path_for('tasks') }}" method="post" autocomplete="off">
                <div class="form-group{{ errors.tasktitle ? ' has-error' : ''}}">
                    <label for="tasktitle">Task Title</label>
                    <input type="tasktitle" name="tasktitle" id="tasktitle" placeholder="Name of Task" class="form-control">
                    {% if errors.tasktitle %}
                        <span class="help-block">{{ errors.tasktitle | first }}</span>
                    {% endif %}
                </div>
                <div class="form-group{{ errors.taskdescription ? ' has-error' : ''}}">
                    <label for="taskdescription">Task Description</label>
                    <textarea class="form-control" rows="5" id="taskdescription" name="taskdescription"></textarea>
                    {% if errors.taskdescription %}
                        <span class="help-block">{{ errors.taskdescription | first }}</span>
                    {% endif %}
                </div>
                <div class="form-group">
                    <label for="task_status">Task Status</label>
                    <select class="form-control" id="taskstatus" name="taskstatus">
                        <option>inactive</option>
                        <option>in-progress</option>
                        <option>complete</option>
                    </select>
                </div>
                {{ csrf.field | raw }}
                <button type="submit" class="btn btn-default">Submit New Task</button>
            </form>
        </div>
    </div>
{% endblock %}

